.container-flex {
    display: flex;
    flex-direction: row;
    padding: 0 2%;
    justify-content: center;
  }
  .container-flex a, .container-flex a:visited {
    text-decoration: none;
    color: #99a1b2;
  }
  .sec-pic {
    margin-top: 2%;
    background-color: #222732;
    border-radius: 3%;
    color: #99a1b2;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .sec-pic img {
    width: 100%;
  }
  .price1,
  .price2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .price1 p,
  .price2 p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .price {
    margin-bottom: 3%;
  }
  .pic-desc {
    padding: 0% 5%;
  }
  .info {
    border-top: 1px solid #99a1b2;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
  }
  .info p {
    margin-right: 5%;
  }
  .pic-desc span {
    color: aliceblue;
  }
  .year {
    background-color: rgb(255, 97, 103);
    padding: 1% 2%;
    border-radius: 5px;
    color: aliceblue;
  }
  .main-price {
    font-weight: 600;
    color: aliceblue;
    font-size: 26px;
  }
  .name {
    font-weight: 400;
    color: aliceblue;
    font-size: 20px;
  }
  .catalog h3 {
    color: rgb(128, 128, 128);
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 3%;
    text-align: center;
  }
  .catalog h1 {
    letter-spacing: 2px;
    font-size: 4rem;
    font-weight: 300;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
  }
  .cat-container {
    display: flex;
    justify-content: center;
    padding: 2% 5%;
  }
  .cat-container img {
    width: 90px;
    height: auto;
  }
  .cat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cat-card p {
    text-align: center;
  }
  .cards-cat h2,
  .low-price h2 {
    letter-spacing: 2px;
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 4%;
  }
  .cat-card h4 {
    margin-block-end: 0;
  }
  .cat-card p {
    margin-block-start: 0;
    color: #99a1b2;
  }
  .annotation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
    border-top: 1px solid #99a1b2;
    border-bottom: 1px solid #99a1b2;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .annotation h2 {
    letter-spacing: 2px;
    font-size: 4rem;
    font-weight: 300;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  .annotation h4,
  .annotation p {
    color: rgb(128, 128, 128);
    width: 70%;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 22px;
  }
  @media (max-width: 1450px){
    .sec-pic {
      width: 25%;
    }
    .sec-pic img {
      width: 100%;
    }
    .price1,
    .price2 {
      flex-direction: column;
      align-items: flex-start;
    }
    .info{
      display: grid;
      grid-template-areas: "A B B B B B"
      "C D D D D D";
    }
    .info p:nth-child(1){
      grid-area: A;
      text-align: center;
    }
    .info p:nth-child(2){
      grid-area: B;
      text-align: end;
    }
    .info p:nth-child(3){
      grid-area: C;
      text-align: center;
    }
    .info p:nth-child(4){
      grid-area: D;
      text-align: end;
    }
  }
  @media(max-width: 1200px){
    .container-flex{
      flex-wrap: wrap;
    }
    .sec-pic {
      width: 45%;
    }
    .cards-cat{
      flex-wrap: wrap;
    }
    .cat-card{
      width: 33.3%;
    }
  }
  @media(max-width: 1100px){
    .cat-container{
      flex-wrap: wrap;
    }
  }
  @media (max-width: 790px){
    .cards-cat h2,
    .low-price h2, .annotation h2, .catalog h1{
      font-size: 2.4rem;
      text-align: center;
    }
    .sec-pic {
      width: 90%;
    }
    .cat-container img {
      width: 90px;
      height: auto;
    }
    .cat-card {
      width: 33.3%;
      margin: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .cat-card p {
      text-align: center;
    }
    .cards-cat h2,
    .low-price h2 {
      letter-spacing: 2px;
      font-size: 4rem;
      text-align: center;
      font-weight: 300;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-top: 4%;
    }
    .cat-card h4 {
      margin-block-end: 0;
    }
    .cat-card p {
      margin-block-start: 0;
      color: #99a1b2;
    }
    .annotation p{
      font-size: 16px;
      text-align: justify;
    }
  }
  @media (max-width: 450px) {
    .cat-card{
      width: 100%;
    }
    .cards-cat h2,
    .low-price h2, .annotation h2, .catalog h1{
      font-size: 1.8rem;
    }
  }